<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @present.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @present.price %>
</p>

<p>
  <strong>Descript:</strong>
  <%= @present.descript %>
</p>

<%= link_to 'Edit', edit_present_path(@present) %> |
<%= link_to 'Back', presents_path %>
